.barraLinks__link a {
  color: #464646;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.barraLinks__link a:link {
  color: #464646;
}
.barraLinks__link a:visited {
  color: #464646;
}
.barraLinks__link:hover {
  transform: scale(1.1, 1.1);
  transition: 100ms;
  text-shadow: 1px 1px 5px;
}

@media screen and (min-width: 0px) {
  .barraLinks__link {
    font-size: 14px;
    margin-right: 0rem;
  }
}

@media screen and (min-width: 480px) {
  .barraLinks__link {
    font-size: 16px;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 1360px) {
  .barraLinks__link {
    font-size: 16px;
    margin-right: 0.5rem;
  }
}
