@media screen and (min-width: 0px) {
  .experiencia__contenido--left {
    margin-left: 3rem;
    margin-top: 1rem;
  }

  .experiencia__contenido--right {
    margin-left: 3rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 480px) {
  .experiencia__contenido--left {
    margin-left: 6rem;
    padding-top: 1rem;
    text-align: left;
    width: fit-content;
  }

  .experiencia__contenido--right {
    margin-left: 6rem;
    padding-top: 1rem;
    text-align: left;
    width: fit-content;
  }
}

@media screen and (min-width: 1360px) {
  .experiencia__contenido--left {
    margin-left: 3rem;
    padding-top: 10rem;
    text-align: left;
    width: 30%;
  }

  .experiencia__contenido--right {
    margin-left: 3rem;
    padding-top: 7rem;
    text-align: left;
    width: 30%;
  }
}
