.sobremi__firma {
  align-items: center;
  background: url("../../img/firma.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 200px;
  margin-top: -25px;
}
