.botonEnviar {
  background: #2a7ae4;
  border: 1px solid #2a7ae4;
  border-radius: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}
.botonEnviar:hover {
  background: rgb(57, 92, 167);
  box-shadow: 2px 2px 10px;
  transform: scale(1.1, 1.1);
  transition: 100ms;
}
