.experiencia {
  margin: auto;
}

@media screen and (min-width: 0px) {
  .experiencia {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .experiencia {
    width: 100%;
  }
}

@media screen and (min-width: 1360px) {
  .experiencia {
    width: fit-content;
  }
}
