.presentacion {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (min-width: 0px) {
  .presentacion {
    flex-direction: column;
    margin-left: 2rem;
  }
  .presentacion__imagen--contenedor {
    order: -1;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .presentacion {
    display: flex;
    flex-direction: row;
  }
  .presentacion__imagen--contenedor {
    order: 0;
    width: 30%;
  }
}

@media screen and (min-width: 1360px) {
  .presentacion {
    flex-direction: row;
  }
  .presentacion__imagen--contenedor {
    order: 0;
    width: 30%;
  }
}
