.presentacion__imagen {
  background: url("../../img/avatar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}
.presentacion__imagen:hover {
  box-shadow: 2px 5px 20px;
  opacity: 90%;
  transition: 100ms;
}

@media screen and (min-width: 0px) {
  .presentacion__imagen {
    height: 98px;
    margin-left: 1rem;
    margin-top: 2rem;
    width: 98px;
  }
}

@media screen and (min-width: 480px) {
  .presentacion__imagen {
    height: 146px;
    margin-left: 1rem;
    margin-top: 2rem;
    order: 0;
    width: 146px;
  }
}

@media screen and (min-width: 1360px) {
  .presentacion__imagen {
    height: 368px;
    margin-left: 8rem;
    margin-right: 1rem;
    margin-top: 5rem;
    order: 0;
    width: 368px;
  }
}
