.formacion__imagen {
  background: url("../../img/alura.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 5rem;
  left: 5.5rem;
  height: 130px;
  position: absolute;
  width: 190px;
}
