.formacion__titulo {
  color: #464646;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}
@media screen and (min-width: 0px) {
  .formacion__titulo {
    font-size: 22px;
  }
}

@media screen and (min-width: 480px) {
  .formacion__titulo {
    font-size: 22px;
  }
}

@media screen and (min-width: 1360px) {
  .formacion__titulo {
    font-size: 32px;
  }
}
