.contacto__contenido {
  margin-left: 1rem;
}

@media screen and (min-width: 0px) {
  .contacto__contenido {
    width: 97%;
  }
}

@media screen and (min-width: 480px) {
  .contacto__contenido {
    width: fit-content;
  }
}
@media screen and (min-width: 1360px) {
  .contacto__contenido {
    width: fit-content;
  }
}
